{% load static %}

<head>
  <!-- <link rel="stylesheet" href="add-building.css"> -->
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
  <script>
    $(document).ready(function() {
      $.getJSON('http://127.0.0.1:8000/wms/view-building', function(json) {
        //alert(json['success']);
        $('#building_view').html('<table class="content-table"><thead><tr><th>Sl.No</th><th>Name</th><th>Area</th><th>Floor</th><th>Identifier</th><th>Height</th><th>Structure</th><th>Flooring</th></thead></tr>');
        for (var i = 0; i < json['name'].length; ++i) {
          //  alert(json['name'][i]);

          $('#building_view').append('<tbody><tr><td>' + (i+1) + '</td><td>' + json['name'][i] + '</td><td>' + json['area'][i] + '</td><td>' + json['floor'][i] + '</td><td>' + json['identifier'][i] + '</td><td>' + json['height'][i] + '</td><td>' + json[
            'structure'][i] + '</td><td>' + json['flooring'][i] + '</td></tr></tbody>')
        }
      });
    });
  </script>
</head>

<body>
  <!--start of header-->
  {% include "html/header.html" %}
  <!--End of header-->

    <table id="building_view" class="content-table">
      <!-- <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Phone</th>
         <th>Address</th>
         <th>Password</th>
       </tr> -->
    </table>
    <!-- Footer -->
    {% include "html/footer.html" %}
    <!-- End of footer -->
</body>
