{% load static %}

<head>
  <!-- <link rel="stylesheet" href="add-building.css"> -->
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
  <script>
    $(document).ready(function() {
      $.getJSON('http://127.0.0.1:8000/wms/', function(json) {
        //alert(json['success']);
      });
    });
  </script>
</head>

<body>
  <!--start of header-->
  {% include "html/supervisor/supervisor-header.html" %}
  <!--End of header-->

 

  <!-- Footer -->
  {% include "html/footer.html" %}
  <!-- End of footer -->
</body>
